.edit-activities {
    display: flex;
    flex-wrap: wrap;   
    
  }

.card-activity{
    width: 18rem;
    margin: 10px;
    background-color: rgb(225, 225, 235);
    border-radius: 10px;
     
}  