#root {
    --PrimaryColor: hsl(199,100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 11%, 16%) ;
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
 }

.latest-promo{
    margin: 50px 0;
    padding: 50px;
}

.latest-promo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.promo-text{
    margin-bottom: 50px;
    align-items: center;
  }


.latest-promo-title h2 {
    font-size: 34px;
    font-weight: bold;
}

.card{
    background-color: var(--cardBG);
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;

}

.card img{
   height: 180px;
}

.latest-promo .card .diskon {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 0 5px;
    color: var(--PrimaryColor);
  }
  

.card-disc{
  display: flex;
  justify-content: space-between;
}  
 
  /* .latest-promo h2 {
    font-weight: bold;
    font-size: 35px;
    color: var(--PrimaryColor);
  } */
  
  .latest-promo p:nth-child(2) {
    font-size: 14px;
  }
  
  .latest-promo p:nth-child(1) {
    font-size: 14px;
  }
  
  
  .latest-promo p:nth-child(3) {
    color: var(--PrimaryColor);
  }

  .edit-promos {
    display: flex;
    flex-wrap: wrap;   
    
  }

  .modal-body{
    display: grid;
    justify-content: center;
    align-items: left;
    padding: 25px;
  }
  .modal-body p{
   font-size: 14px;
   
  } 

  .modal-body img{
    height: 200px;
  }

/* ADMIN PANEL STYLE */

.card-promo{
     
    width: 18rem;
    margin: 10px;
    background-color: var(--cardBG);
    border-radius: 10px;
     
} 

.card-footer{
  background-color: var(--cardBG);
}