#root {
    --PrimaryColor: hsl(199,100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 11%, 16%) ;
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
 }
 
 .popular {
  margin: 50px 0;
  padding: 50px;
}

.popular-title{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 65px;
 
}

.popular h2 {
  font-size: 34px;
  font-weight: bold;
}

.popular-cards{
  background-color: var(--cardBG);
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}


.popular-text{
  margin-bottom: 50px;
}
.popular .popular-box p {
  font-size: 14px;
}

.popular-cards img {
  height: 180px;
  
}

.card-modal-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popular-cards i {
  color: var(--PrimaryColor);
  font-size: 14px;
  margin-right: 5px;
}

.card-img-top{

width: 100%;
  height: auto;
  object-fit: cover;
}
 
.modal-body img{
  border-radius: 10px;
}





